<div class="actions">
  <a [routerLink]="['create']" class="btn btn-primary">Create campaign</a>
</div>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Campaign Name</th>
      <th scope="col">Status</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Holiday Campaign</td>
      <td>Running</td>
      <td>01/08/2024</td>
      <td>01/010/2024</td>
    </tr>
  </tbody>
</table>
