ngs-campaign-keyword-item {
  .keyword-item-row {
    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    display: flex;
    gap: 0.8rem;

    .actions {
      align-self: center;
      padding-top: 1rem;
    }
  }
}
